
<ion-content>
  
  <br>
  <br>
    <ion-avatar class="icon">
      <img src="{{user.avatar_url}}">
    </ion-avatar>
    <ion-item>
      <ion-label class="ionName">{{user.login}}</ion-label>
    </ion-item>
    <ion-card-content>
     <ion-row>
       <ion-col size="6">Type</ion-col>
       <ion-col size="6">{{user.type}}</ion-col>
       <ion-col size="6">Site admin</ion-col>
       <ion-col size="6">{{user.site_admin}}</ion-col>
       <ion-col size="6">Contributions</ion-col>
       <ion-col size="6">{{user.contributions}}</ion-col>
     </ion-row>
     <br>
     <ion-button expand="full" (click)="closeModel()" >Close</ion-button>
    </ion-card-content>
</ion-content>
