<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trending
    </ion-title>
    <ion-title slot="end" class="git-total-count">
      Total <ion-icon name="logo-github"></ion-icon>:192019
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="git-grid" *ngFor="let repo of repositories">
    <ion-item>
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>{{repo.full_name}}</ion-label>
      <ion-button fill="outline" slot="end">
        <ion-icon name="star-sharp"></ion-icon>
        <b class="ion-start">Star</b>
      </ion-button>
    </ion-item>

    <ion-card-content>
      <p class="discription">{{repo.description}}</p>
    </ion-card-content>
    <ion-card-footer class="grid-footer">
      <ion-row class="row-1">
        <ion-col size="4">
          <ion-icon size="small" name="code-working-sharp"></ion-icon> <b class="comman lang">{{repo.language}}</b>
        </ion-col>
        <ion-col style="margin-top: 2px;">
          <ion-icon name="star-sharp"></ion-icon> <b class="comman star">{{repo.stargazers_count}}</b>
        </ion-col>
        <ion-col style="margin-top: 2px;" (click)="openCustomTab(repo.forks_url)">
          <ion-icon name="git-network-outline"></ion-icon> <b class="comman fork">{{repo.forks}}</b>
        </ion-col>
        <ion-col style="margin-top: 2px;">
          <ion-icon name="eye-outline"></ion-icon> <b class="comman fork">{{repo.watchers}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <h5>Built by</h5>
        </ion-col>
        <ion-col class="buildlist">
          <p *ngIf="repo.loadContributor" class="buildlits-loader">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
          </p>
          <p *ngIf="!repo.loadContributor && repo.contributors && repo.contributors.length==0">No contributors</p>
          <ul *ngIf="!repo.loadContributor && repo.contributors && repo.contributors.length>0">
            <li *ngFor="let contributor of repo.contributors" (click)="openProfile(contributor)">
              <ion-avatar class="build-by">
                <img src="{{contributor.avatar_url}}">
              </ion-avatar>
            </li>
            <li>
              <ion-icon (click)="hideAndShowContributors(repo,true)" class="more-contribute"
                *ngIf="!repo.loadContributor && repo._contributors && repo._contributors.length>0 && !repo.ishideAndShowContributors"
                name="arrow-down-circle-outline"></ion-icon>
            </li>
            <li>
              <ion-icon (click)="hideAndShowContributors(repo,false)" class="more-contribute"
                *ngIf="repo.ishideAndShowContributors" name="arrow-up-circle-outline"></ion-icon>
            </li>
          </ul>

        </ion-col>
      </ion-row>
    </ion-card-footer>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-content>