#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.git-total-count{
  font-size: 17px;
  ion-icon{
    position: relative;
    top: 2px;
  }
}
.git-grid{
  ion-label{
    text-transform: capitalize;
    margin-left: 5px;
  }
  .ion-start{
    margin-left: 2px;
    text-transform: capitalize;
  }
  .grid-footer{
    .row-1{
      padding: 0px 10px 0px 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 2px;
    }
    
    .comman{
      position: relative;
      left: 5px;
    }
    .lang{
      bottom: 4px;
      white-space: nowrap;
      font-size: 13px;
  }
    .fork{
      bottom: 1px;
    }
    .star{
      bottom: 1px;
    }
    .buildlist{
      ul{
        list-style: none;
        padding: 0;
        top: 3px;
        position: relative;
        li{
          float: left;
          margin-left:  5px;
        }
      } 
      .buildlits-loader{
        position: relative;
        top: 10px;
      } 
      .more-contribute{
        position: relative;
        top: 0px;
        font-size: 33px;
      }
    }
    .build-by{
      width: 25px;
    height: auto;
    }
    
  }
  
}